---
import { SEO } from "astro-seo";
import "modern-normalize/modern-normalize.css";
import "../main.css";
import { seoConfig, manifest } from "../../utils/seo.ts";
import gothamBook from "gotham-fonts/webfonts/Gotham-Book.woff2";
import gothamBold from "gotham-fonts/webfonts/Gotham-Bold.woff2";

export interface Props {
    title?: string;
    description?: string;
    disableIndexing?: boolean;
    ogTitle?: string;
}

const title = Astro.props.title ?? seoConfig.siteName;
const description = Astro.props.description ?? seoConfig.description;
const disableIndexing = Boolean(Astro.props.disableIndexing);
const ogTitle = Astro.props.ogTitle ?? title;
---

<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            noindex={disableIndexing}
            nofollow={disableIndexing}
            openGraph={{
                basic: {
                    title: ogTitle || title,
                    type: "website",
                    image: seoConfig.image.url,
                },
                image: {
                    width: seoConfig.image.width,
                    height: seoConfig.image.height,
                    alt: seoConfig.image.alt,
                },
                optional: {
                    siteName: seoConfig.siteName,
                    description,
                },
            }}
            charset="utf-8"
        />
        <link
            rel="preload"
            href={gothamBook}
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href={gothamBold}
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content={manifest.theme_color} />
        <link
            rel="alternate"
            type="application/json+oembed"
            href="https://3636.live/oembed.json"
        />
    </head>
    <body>
        <slot />
    </body>
</html>
